# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User add
*.opensdf

check/ipch/
check/Win32/
check/weiduodianzi/Debug/
check/weiduodianzi/GeneratedFiles/

pump/ipch/
pump/Win32/
pump/weiduodianzi/Debug/
pump/weiduodianzi/GeneratedFiles/

check/weiduodianzi.sdf
check/weiduodianzi.suo
check/weiduodianzi/wda.db
check/weiduodianzi/wda.db-journal

pump/weiduodianzi.sdf
pump/weiduodianzi.suo
pump/weiduodianzi/wda.db
pump/weiduodianzi/wda.db-journal
